doctype 5
html(lang='dv')
	head
		title ޙަބަރު
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/rtl.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src='/javascripts/jquery.js')
		script(src='/js/templates.js')
		script(src='/javascripts/news.js')
		script(src='/javascripts/fastclick.js')
		//script setTimeout(function(){window.location.reload(true)},200)
	body
		section.container
			section.row
				section.navbar.navbar-inner
					ul.nav.nav-pills.pull-right
						li
							a(href='') ޚަބަރު
						li
							a(href='') ފޮޓޯ
			section.row
				block content
			script var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-36973691-1']);  _gaq.push(['_setDomainName', 'iulogy.com']);  _gaq.push(['_trackPageview']);(function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
