doctype 5
html(lang='dv')
	head
		title ޙަބަރު
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/rtl.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src='/javascripts/jquery.js')
		script(src='/js/templates.js')
		script(src='/javascripts/news.js')
		//script setTimeout(function(){window.location.reload(true)},200)
	body
		section.container
			section.row
				section#stuff.span6
				section#stuff2.span6

