li {
  list-style-type: none;
}
.news-section {
  margin: 0;
  margin-bottom: 10px;
}
.news-section > ul {
  margin: 0;
}
.news-item {
  border-bottom: solid 1px #f0f0f0;
  margin-bottom: 3px;
  padding: 3px 0px;
}
.news-item .sub-news:hover {
  color: #4f8d0e;
  cursor: pointer;
}
.heading3 {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: -90px;
  font-size: 20px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 8px;
  letter-spacing: 1.88px;
}
article {
  margin-top: 10px;
  margin-bottom: 10px;
}
.hover-board {
  overflow: hidden;
  height: 230px;
}
.hover-board img {
  width: auto;
  max-width: none;
}
.hover-board h1 {
  font-size: 18px;
  line-height: 35px;
  margin: 0;
  transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  font-weight: normal;
  bottom: 0px;
}
.hover-board:hover h1 {
  background: rgba(255,255,255,0.7);
  color: #000;
}
.toggle-display {
  cursor: pointer;
  text-align: center;
  padding: 13px;
  border-top: solid 5px #f0f0f0;
  box-shadow: 0px 3px 1px #d0d0d0 inset;
  transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -webkit-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
}
.toggle-display:hover {
  background: yellowGreen;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.3) inset;
}
.news-section-header {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  text-align: center;
  padding: 5px 0px;
  border: solid 1px #c0c0c0;
  border-bottom: none;
}
