trans()
	transition: arguments
	-moz-transition: arguments
	-webkit-transition: arguments
	-o-transition: arguments
li
	list-style-type none
.news-section
	margin 0
	margin-bottom 10px
	> ul
		margin 0
.news-item
	border-bottom: solid 1px #F0F0F0;
	margin-bottom: 3px;
	padding: 3px 0px;
	.sub-news
		&:hover
			color #4F8D0E
			cursor pointer
.heading3
	width 100%
	box-sizing: border-box;
	position: absolute;
	bottom: -90px;
	font-size: 20px;
	background: rgba(0, 0, 0, .7);
	color: white;
	padding: 8px;
	letter-spacing: 1.88px;
article
	margin-top 10px
	margin-bottom 10px
.hover-board
	//border-left: solid 10px #08C;
	overflow hidden
	height 230px
	img
		width auto
		max-width none
	h1
		font-size 18px
		line-height 35px
		margin 0
		trans color .2s ease-out
		trans background .2s ease-out
		font-weight normal
		bottom 0px
	&:hover
		h1 
			background: rgba(255, 255, 255, .7);
			color black

.toggle-display
	cursor pointer
	text-align center
	padding 13px
	border-top: solid 5px #F0F0F0;
	box-shadow: 0px 3px 1px #d0d0d0 inset;	
	trans background .2s ease-out
	trans box-shadow .2s ease-out
	&:hover
		background yellowGreen
		box-shadow: 0px 3px 2px rgba(0,0,0,.3) inset;	
.hide
	display-none
.news-section-header
	background-color: #FAFAFA;
	background-image: -moz-linear-gradient(top,white,#F2F2F2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#F2F2F2));
	background-image: -webkit-linear-gradient(top,white,#F2F2F2);
	background-image: -o-linear-gradient(top,white,#F2F2F2);
	background-image: linear-gradient(to bottom,white,#F2F2F2);
	background-repeat: repeat-x;
	text-align center
	padding 5px 0px
	border solid 1px #c0c0c0
	border-bottom none
